# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/
*.log
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Firebase
service-account.json